.mainimg {
    display: block;
    width: 30%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image: url(images/macedonia_f.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 30px;
}
.bcard {
    width: 70%;
    height: fit-content;
    background-color: antiquewhite;
    margin: auto;
    padding: 5%;
    max-height: fit-content;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin-top: auto;
    color: darkred;
}

hr {
    height: 5px;
    background: linear-gradient(to right,yellow, red)
}

#description {
    text-align: left;
    margin-left: 10%;
}

.contact p,img,a {
    display: inline-block;
    font-size: 15px;
}
.contacttype {
    width: 10%;
    text-align: left;
}
.contactimg {
    width: 5%;
    align-items: first baseline;
    margin-left: 1%;
    margin-bottom: -5px;
}
.contactinfo {
    width: 80%;
    text-align: left;
    margin-left: 15px;
}
.interests {
    border: saddlebrown;
    border-style: dotted;
}
.navbar {
    text-align: right;
    padding: 10px;
}
.score {
    text-align: right;
}
h3 {
    font-style: italic;
    color: gray;
}

a {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: brown;
}
a:hover {
    color: darkred;
}
a:active {
    color: rgb(43, 0, 128)
}
/* --- Carousel Styles --- */
.carousel3d {
    width: 400px;
    height: 300px;
    margin: 40px auto;
    perspective: 1200px;
}

.carousel3d-container {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel3d-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    transform: translateZ(400px);
    backface-visibility: hidden;
    border-radius: 10px;
}
form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

nav a {
    margin: 10px;
    font-weight: bold;
}
